<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js"></script>
  <script src="/findly/public/build/js/main.js"></script>

  <link rel="stylesheet" href="/findly/public/build/css/style.css"></link>

  <!-- A PURGER -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">

      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/grade">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/post/annonce">Poster une annonce <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/show/annonce/categories">Voir les annonces <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/compte/informations">Modifier mes informations <span class="sr-only">(current)</span></a>
        </li>
 		
		    <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/deconnexion">Se deconnecter <span class="sr-only">(current)</span></a>
        </li>




      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-md-auto">
          {% if current_user %}
          <li class="nav-item">
            <a class="nav-link" href="/findly/profile/show">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/findly/logout">Log out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>


  <div class="container-fluid">
    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type }}">
      {{ message.body }}
    </div>
    {% endfor %}





    {% block body %}
   	<h1 align="center">ANNONCES</h1>

        <form method="post" action="/findly/connexion/particulier/show/annonce/categories/annonces/filtre">
            <div class="card">
            <div class="card-header">
              TRIER PAR
              <input class="btn btn-default" value="date" type="submit" name="date"></input>
              <input class="btn btn-default" value="findup" type="submit" name="findup"></input>
            </div>
          </div> <br>
        </form>







  










<div class="row">





	<div class="col-sm-9">
	  						
			{% for datas in data %}

				<div class="card ">

            <!--<img src="/findly/public/src/upload/a.png">-->
           <!-- <img src="/findly/public/src/upload/up-part2223particulier@gmail.com02-05-201808-53-37.jpg">-->
                
				  	<div class="card-header"> {{datas.titre|e}} </div>
					  <div class="card-body" align="center">
					  	<img src="{{datas.photo_annonce|e}}" width="100px" height="100px" class="rounded float-left" alt="...">
					   <!-- <h5 class="card-title">{{datas.titre|e}}</h5>-->
					    <p class="card-text">{{datas.contenus|e}}</p>
					  </div>

					  <div align="center">

                <form method="post" action="/findly/connexion/particulier/show/annonce/categories/annonces/update/findup">
					  <div class="card-footer text-muted">
					  		<a href="#" class="btn btn-info disabled" role="button" aria-disabled="true">{{datas.find_up|e}}</a>

              
                  <input class="btn btn-outline-primary" type="submit" value="FindUP" name="findup_update"  ></input>
                  <input type="hidden" name="findup_calcul" value="{{datas.id|e}}">
               
					        
							<button type="button" class="btn btn-outline-secondary">Commenter</button>

							{% if datas.type_annonce|e == "ROLE_PARTICULIER" %}
							    <a href="#" class="btn btn-info disabled" role="button" aria-disabled="true">*Annonce Particulier !</a>
							{% endif %}
							{% if datas.type_annonce|e == "ROLE_PRO" %}
							    <a href="#" class="btn btn-warning disabled" role="button" aria-disabled="true">*Annonce Professionnel !</a>
							{% endif %}

							
					  </div>

             </form>
					</div>

				   <div class="card-footer text-muted" align="center">
				    {{datas.date_publication|e}} / By {{datas.nom|e}} {{datas.prenom|e}}
				  </div>
				  <br>

				

				</div>

			{% endfor %}




	</div>



	<div class="col-sm-3">
	  							<img src="http://www.publication-web.com/media/com_hikashop/upload/banniere.png" alt="publicite">

	</div>









</div>



















    {% endblock %}
    {% block footer %}
    {% endblock %}

</body>

</html>
