{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}

    <h1>Sign up</h1>

    <p>Success! Your account is now active. You can now <a href="/findly/login">login</a>.</p>

{% endblock %}