{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block footer %}

<script>
  domready(function() {
    function debounce(callback, delay) {
      var timer;
      return function() {
        var args = arguments;
        var context = this;
        clearTimeout(timer);
        timer = setTimeout(function() {
          callback.apply(context, args);
        }, delay)
      }
    }

    function validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
    console.log('dom is loaded!');
    var el = document.querySelector('.error_box');
    var validator = new FormValidator('formSignup', [{
      name: 'name',
      rules: 'required'
    }, {
      name: 'email',
      rules: 'required|valid_email'
    }, {
      name: 'password',
      rules: 'required',
      depends: 'checkForPassword'
    }], function(errors, event) {
      if (errors.length > 0) {
        var errorString = '';

        for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
          errorString += errors[i].message + '<br />';
        }

        el.innerHTML = errorString;
      }
    });

    validator.registerConditional('checkForPassword', function(password) {
      console.log(password.value);
      if (password.value != '') {
        if (password.value.match(/.*[a-z]+.*/i) == null) {
          return false;
        }
        if (password.value.match(/.*\d+.*/) == null) {
          return false;
        }
      }
      //console.log(el)
      //el.innerHTML = 'Must contain at least one letter and one number';
    });

    document.querySelector('#inputEmail').addEventListener('keyup', debounce(function() {
      if (validateEmail(this.value)) {
        fetch(`/findly/account/validate-email?email=${this.value}`)
          .then(function(response) {
            console.log(response);
            return response.text();
          })
          .then(function(text) {
            if (text.match('false')) {
              console.log('false');
              el.innerHTML = 'Email already exist';
            } else {
              console.log('true');
              el.innerHTML = 'ok';
            }
          })
          .catch(function(error) {
            console.log('Request failed', error)
          });
      }
    }, 700));
    var inputPassword = document.querySelector('#inputPassword');
    document.querySelector('#showPassword').addEventListener('click', function() {
      if (inputPassword.type === "password") {
        inputPassword.type = "text";
      } else {
      inputPassword.type = "password";
      }
    });
  });
</script>

{% endblock %}

{% block body %}

    <h1>Sign up</h1>

    {% if user.errors is not empty %}
      <p>Error:</p>
      <ul>
        {% for error in user.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

<div class="error_box"></div>

    <form method="post" name="formSignup" action="/findly/signup/create">
      <div class="form-group">
        <label for="inputName">Name</label>
        <input id="inputName" name="name" type="text" class="form-control" placeholder="Name"  value="{{ user.name }}">
      </div>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input id="inputEmail" name="email" type="email" class="form-control" placeholder="Email" value="{{ user.email }}">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input id="inputPassword" name="password" class="form-control" type="password" placeholder="Password" title="Minimum 6 chars, at least one letter and number">
       </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="showPassword">
        <label class="form-check-label" for="showPassword">Show Password</label>
      </div>
      <button class="btn btn-default" type="submit">Sign up</button>
    </form>

{% endblock %}