{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}

    <h1>Signup</h1>

    <p>Sucess! Thank you for signing up.</p>

    <p>Please check your email to activate your account.</p>

{% endblock %}
