    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">

      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/grade">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/post/annonce">Poster une annonce <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="#">Voir les annonces <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/compte/informations">Modifier mes informations <span class="sr-only">(current)</span></a>
        </li>
 		
		    <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/deconnexion">Se deconnecter <span class="sr-only">(current)</span></a>
        </li>

        <span class="navbar-text">
          Bonjour, {{data.nom}} {{data.prenom}}
        </span>



      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-md-auto">
          {% if current_user %}
          <li class="nav-item">
            <a class="nav-link" href="/findly/profile/show">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/findly/logout">Log out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>