// ==========================================================================
// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

.navbar .img-logo {
    width: 50px;
    margin-right: 100px;
}
.card {
    border: none;
}
.card-body {
    padding: 1.25rem 0;
}
.card-body .btn {
width: 150px;
border-radius: 30px;
background: #474747;
}
.card-body-profil {
display: flex;
}
.card-text h5 {
margin-bottom: 0;
}
.card-body-profil img {
padding-right: 10px;
width: 50px;
height: 40px;
}

.error_box {
  background: #FAD3C4;
  border: 1px solid #A75B4E;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #444444;
  font-size: 13px;
  margin: 0px 0px 15px 0px;
  padding: 8px 8px;
  width: 672px;
}

.cover-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  & p {
    text-transform: uppercase;
    color: #fff;
    position:absolute;
    bottom:20%;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 10px;
  }

  & button {
    width: 150px;
    border-radius: 30px;
    background: #474747;
    position:absolute;
    bottom: 10%;
    text-transform:uppercase;
    font-weight: bold;
  }

  & .img-logo {
    position: absolute;
    top: 25%;
    width: 400px;
  }
}



#carousel {
    width: 100%;
    height: auto;
    padding: 0 0 30vh 0;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden
}

#carousel #main_slider {
    width: 60vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center
}

#carousel #main_slider h1 {
}

#carousel #main_slider h5 {
}

#carousel #main_slider #slider {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2.5vh 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    transition: all 0.3s ease-in-out
}


#carousel #main_slider #slider button {
    position: absolute;
    top: calc(50% - 32.5px);
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 100%;
    border: 1px solid #a4a4a4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15
}

#carousel #main_slider #slider button#prev {
    left: calc(5vw - 32.5px);
}

#carousel #main_slider #slider button#prev i {
    margin-right: 5%
}

#carousel #main_slider #slider button#next {
    left: calc(90vw - 32.5px);
}

#carousel #main_slider #slider button#next i {
    margin-left: 5%
}

#carousel #main_slider #slider button:focus {
    outline: none
}

#carousel #main_slider #slider .slide {
    flex-shrink: 0;
    margin-right: 0.5vw;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

#carousel #main_slider #slider .slide p {
    align-self: flex-end;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    font-size: 0.8rem;
    padding:0;
}

.lnr-chart-bars, .lnr-chevron-left, .lnr-chevron-right, .lnr-sync {
    fill: rgba(0,0,0,.57);
    font-size: 20px;
    pointer-events: none;
}

.lnr {
    display: block;
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.fade {
      opacity: unset;
}

.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #474747;
}