{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <h1>Request password reset</h1>

    <form method="post" action="/findly/password/request-reset">
      <div class="form-group">
        <label for="inputEmail">Email adresse</label>
        <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email adress" required>
      </div>
      <button class="btn btn-default" type="submit">Send password reset</button>
    </form>

{% endblock %}