{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block footer %}

<script>
  domready(function() {
    console.log('dom is loaded!');
    var el = document.querySelector('.error_box');
    var validator = new FormValidator('formPassword', [{
      name: 'password',
      rules: 'required',
      depends: 'checkForPassword'
    }], function(errors, event) {
      if (errors.length > 0) {
        var errorString = '';

        for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
          errorString += errors[i].message + '<br />';
        }

        el.innerHTML = errorString;
      }
    });

    validator.registerConditional('checkForPassword', function(password) {
      console.log(password.value);
      if (password.value != '') {
        if (password.value.match(/.*[a-z]+.*/i) == null) {
          return false;
        }
        if (password.value.match(/.*\d+.*/) == null) {
          return false;
        }
      }
      console.log(el)
      el.innerHTML = 'Must contain at least one letter and one number';
    });

    var inputPassword = document.querySelector('#inputPassword');
    document.querySelector('#showPassword').addEventListener('click', function() {
      if (inputPassword.type === "password") {
        inputPassword.type = "text";
      } else {
      inputPassword.type = "password";
      }
    });
  });
</script>
{% endblock %}

{% block body %}

    <h1>Reset password</h1>

    {% if user.errors is not empty %}
      <p>Error:</p>
      <ul>
        {% for error in user.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

<div class="error_box"></div>

    <form method="post" id="formPassword" name="formPassword" action="/findly/password/reset-password">
      <input type="hidden" name="token" value="{{ token }}">
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input id="inputPassword" name="password" type="password" placeholder="Password" class="form-control">
      </div>
      <button class="btn btn-default" type="submit">Reset password</button>
    </form>

{% endblock %}