{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <h1>Request password successfully</h1>

    <p>You can now <a href="/findly/login">login</a>.</p>

{% endblock %}