{% extends "base.html" %}

{% block title %}Forgot{% endblock %}

{% block body %}

    <h1>Request password reset</h1>

    <p>Password reset link invalid or expire, please click <a href="/findly/password/forgot">here</a> to request another one.</p>

{% endblock %}
