{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="cover-container">
  <img class="img-fluid" src="./src/img/background.jpg">
  <img class="img-logo" src="./src/img/findly-logo.png">
  <p>Qu’est ce que findly ?</p>
  <button class="btn btn-secondary ">Découvrir</button>
</div>
{% if current_user %} Hello {{ current_user.name }}.
{% else %}



{% endif %}


<div id="carousel">
  <div class="fade"></div>
  <div id="main_slider">
    <div id="slider">
      <button id="prev">
        <svg class="lnr lnr-chevron-left">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lnr-chevron-left">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
              <symbol id="lnr-chevron-left" viewBox="0 0 1024 1024">
                <title>chevron-left</title>
                <path class="path1" d="M716.8 1024c6.552 0 13.102-2.499 18.101-7.499 9.998-9.997 9.998-26.206 0-36.203l-442.698-442.698 442.698-442.699c9.998-9.997 9.998-26.206 0-36.203s-26.206-9.998-36.203 0l-460.8 460.8c-9.998 9.997-9.998 26.206 0 36.203l460.8 460.8c5 5 11.55 7.499 18.102 7.499z"></path>
              </symbol>
            </svg>
          </use>
        </svg>
      </button>
      <button id="next">
        <svg class="lnr lnr-chevron-right">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lnr-chevron-right">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
              <symbol id="lnr-chevron-right" viewBox="0 0 1024 1024">
                <title>chevron-right</title>
                <path class="path1" d="M256 1024c-6.552 0-13.102-2.499-18.101-7.499-9.998-9.997-9.998-26.206 0-36.203l442.698-442.698-442.698-442.699c-9.998-9.997-9.998-26.206 0-36.203s26.206-9.998 36.203 0l460.8 460.8c9.998 9.997 9.998 26.206 0 36.203l-460.8 460.8c-5 5-11.55 7.499-18.102 7.499z"></path>
              </symbol>
            </svg>
          </use>
        </svg>
      </button>


      <!-- Recupere les 10 desrnieres annonces postes en BDD -->
      {% for datas in data %}
        <div class="slide" id="slide_1">
          <div class="card" style="width: 18rem;">
            <!--<img class="card-img-top" src="{{datas.photo_annonce|e}}" alt="Card image cap">-->
            <img src="{{datas.photo_annonce|e}}" class="img-fluid" width="300px" weight="300" alt="Responsive image">

            <div class="card-body">
              <div class="card-body-profil"> 
                <!--<img src="./src/img/user1.jpg">-->
                <div class="card-text">
                  <h5>{{datas.titre|e}}</h5>
                  <p class="text-muted ">{{datas.date_publication|e}}</p>
                </div>
              </div>
              <p class="card-text text-muted ">{{datas.contenus|e}}</p>
              <!-- <input class="btn btn-secondary" type="button " value="Commenter">-->
            </div>
          </div>
        </div>
      {% endfor %}





    </div>
  </div>
  <div class="fade"></div>
</div>
{% endblock %}
