{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="cover-container">
  <img class="img-fluid " src="http://via.placeholder.com/1680x1050">
</div>
<h1>Welcome</h1>
{% if current_user %} Hello {{ current_user.name }}.
{% else %}
<a href="/findly/signup/new">Sign up</a> OR <a href="/findly/login">Log in</a>
{% endif %}
<div id="carousel">
  <div class="fade"></div>
  <div id="main_slider">
    <div id="slider">
      <button id="prev">
        <svg class="lnr lnr-chevron-left">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lnr-chevron-left">
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="lnr-chevron-left" viewBox="0 0 1024 1024">
              <title>chevron-left</title>
              <path class="path1" d="M716.8 1024c6.552 0 13.102-2.499 18.101-7.499 9.998-9.997 9.998-26.206 0-36.203l-442.698-442.698 442.698-442.699c9.998-9.997 9.998-26.206 0-36.203s-26.206-9.998-36.203 0l-460.8 460.8c-9.998 9.997-9.998 26.206 0 36.203l460.8 460.8c5 5 11.55 7.499 18.102 7.499z"></path>
            </symbol>
          </svg>
        </use>
      </svg>
        </button>
      <button id="next">
        <svg class="lnr lnr-chevron-right">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lnr-chevron-right">
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="lnr-chevron-right" viewBox="0 0 1024 1024">
              <title>chevron-right</title>
              <path class="path1" d="M256 1024c-6.552 0-13.102-2.499-18.101-7.499-9.998-9.997-9.998-26.206 0-36.203l442.698-442.698-442.698-442.699c-9.998-9.997-9.998-26.206 0-36.203s26.206-9.998 36.203 0l460.8 460.8c9.998 9.997 9.998 26.206 0 36.203l-460.8 460.8c-5 5-11.55 7.499-18.102 7.499z"></path>
            </symbol>
          </svg>
        </use>
      </svg>
        </button>
      <div class="slide" id="slide_1">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="slide" id="slide_2">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="slide" id="slide_3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="slide" id="slide_4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="slide" id="slide_5">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fade"></div>
</div>
{% endblock %}
