<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js"></script>
  <script src="/findly/public/build/js/main.js"></script>

  <link rel="stylesheet" href="/findly/public/build/css/style.css"></link>

  <!-- A PURGER -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>


   <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">

      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/grade">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/post/annonce">Poster une annonce <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/show/annonce/categories">Voir les annonces <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/compte/informations">Modifier mes informations <span class="sr-only">(current)</span></a>
        </li>
    
        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/deconnexion">Se deconnecter <span class="sr-only">(current)</span></a>
        </li>



      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-md-auto">
          {% if current_user %}
          <li class="nav-item">
            <a class="nav-link" href="/findly/profile/show">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/findly/logout">Log out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>


  <div class="container-fluid">
    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type }}">
      {{ message.body }}
    </div>
    {% endfor %}





    {% block body %}
    			  <h1>Poster une annonce</h1>

        <form method="post" action="/findly/connexion/particulier/post/annonce/add" enctype="multipart/form-data">
            <div class="form-group">
              <input type="text" id="titre" name="titre" class="form-control" placeholder="Titre de l'annonce">
            </div>

            <div class="form-group">
              <textarea class="form-control" id="exampleTextarea" name="message" rows="3" placeholder="Votre message"></textarea>
            </div>

            <div class="form-group">
              <input type="file" class="form-control-file" name="image" id="image" aria-describedby="fileHelp">
              <small id="fileHelp" class="form-text text-muted">Choisissez votre image au format jpeg / jpg / png
              </small>
            </div>



            <div class="form-group">
              <label for="exampleSelect1">Choisissez la catégorie pour publier votre annonce</label>
              <select class="form-control" name="categorie" id="categorie">

                  {% for datas in data %}
                      <option value="{{ datas.id|e }}">{{ datas.name|e }}</option>
                  {% endfor %}

              </select>
            </div>


            <button class="btn btn-default" type="submit" name="annonce">Ajouter mon annonce</button>

        </form>





    {% endblock %}
    {% block footer %}
    {% endblock %}
  </div>
</body>

</html>
