<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js"></script>
  <script src="/findly/public/build/js/main.js"></script>

  <link rel="stylesheet" href="/findly/public/build/css/style.css"></link>

  <!-- A PURGER -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">

      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/grade">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/post/annonce">Poster une annonce <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/show/annonce/categories">Voir les annonces <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/compte/informations">Modifier mes informations <span class="sr-only">(current)</span></a>
        </li>
 		
		    <li class="nav-item active">
            <a class="nav-link" href="/findly/connexion/particulier/deconnexion">Se deconnecter <span class="sr-only">(current)</span></a>
        </li>

        <span class="navbar-text">
          Bonjour, {{data.nom}} {{data.prenom}}
        </span>



      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-md-auto">
          {% if current_user %}
          <li class="nav-item">
            <a class="nav-link" href="/findly/profile/show">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/findly/logout">Log out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>


  <div class="container-fluid">
    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type }}">
      {{ message.body }}
    </div>
    {% endfor %}
    {% block body %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mon grade</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Qu'est ce que le grade ?</a>
  </li>

</ul>
</br>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  </br>



        {% if data.grade < 20 %}
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{data.grade}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">BAC+1</div>
          </div>
        {% endif %}

        {% if data.grade >= 21 and data.grade <= 40 %}
          <div class="progress">       
            <div class="progress-bar bg-success" role="progressbar" style="width: {{data.grade}}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">BAC +2</div>
          </div>
        {% endif %}

         {% if data.grade >= 41 and data.grade <= 60 %}
          <div class="progress">       
            <div class="progress-bar bg-info" role="progressbar" style="width: {{data.grade}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">BAC +3</div>
          </div>
        {% endif %}

        {% if data.grade >= 61 and data.grade <= 80 %}
          <div class="progress">       
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{data.grade}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">BAC +4</div>
          </div>
        {% endif %}

        {% if data.grade >= 81 and data.grade <= 100 %}
          <div class="progress">       
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{data.grade}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">BAC +5</div>
          </div>
        {% endif %}

        {% if data.grade > 100 %}
          <div class="progress">       
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{data.grade}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">BAC +5</div>
          </div>
        {% endif %}









  </div>




  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    
    <div class="alert alert-primary" role="alert">
  Le grade est un niveau compris entre BAC +1 et BAC +5 permettant de graduer votre niveau sur la plateforme
</div>
</br>
      <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">BAC+1</div>
          <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">BAC +2</div>
          <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">BAC +3</div>
          <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">BAC +4</div>
          <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">BAC +5</div>

      </div>

  </div>
</div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
  </div>
</body>

</html>
