{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block body %}

    <h1>Connexion Particulier</h1>

    <!-- la methode create du controlleur connexion -->
  <form method="post" action="/findly/connexion/particulier/compte">
    <div class="form-group">
      <label for="input">Email address</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
    </div>
    <div class="checkbo">
      <label>
      <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %}> Remember me
      </label>
    </div>

    <button class="btn btn-default" type="submit" name="particulier">Log in</button>

    <a href="/findly/password/forgot">Forgot password ?</a>
  </form>

{% endblock %}