{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block body %}

    <h1>Connexion Professionnel</h1>

  <form method="post" action="/findly/connexion/professionnel/compte">
    <div class="form-group">
      <label for="input">Email address</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
    </div>
    <div class="checkbo">
      <label>
      <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %}> Remember me
      </label>
    </div>
    <button class="btn btn-default" type="submit" name="pro">Log in</button>


    <a href="/findly/password/forgot">Forgot password ?</a>
  </form>

{% endblock %}