// ==========================================================================
// Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

.error_box {
  background: #FAD3C4;
  border: 1px solid #A75B4E;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #444444;
  font-size: 13px;
  margin: 0px 0px 15px 0px;
  padding: 8px 8px;
  width: 672px;
}

.cover-container {
  overflow: hidden;
}

#carousel {
    width: 100%;
    height: auto;
    padding: 0 0 30vh 0;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden
}

#carousel .fade {
    flex-grow: 1;
    height: 60vh;
    background: #FFF;
    z-index: 10;
}

#carousel #main_slider {
    width: 60vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center
}

#carousel #main_slider h1 {
}

#carousel #main_slider h5 {
}

#carousel #main_slider #slider {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2.5vh 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    transition: all 0.3s ease-in-out
}


#carousel #main_slider #slider button {
    position: absolute;
    top: calc(50% - 32.5px);
    width: 65px;
    height: 65px;
    background: white;
    border-radius: 100%;
    border: 1px solid;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15
}

#carousel #main_slider #slider button#prev {
    left: -32.5px
}

#carousel #main_slider #slider button#prev i {
    margin-right: 5%
}

#carousel #main_slider #slider button#next {
    left: calc(60vw - 32.5px)
}

#carousel #main_slider #slider button#next i {
    margin-left: 5%
}

#carousel #main_slider #slider button:focus {
    outline: none
}

#carousel #main_slider #slider .slide {
    flex-shrink: 0;
    margin-right: 3vw;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

#carousel #main_slider #slider .slide p {
    align-self: flex-end;
    width: 100%;
    padding: 10% 5%;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: #000;
}

.lnr-chart-bars, .lnr-chevron-left, .lnr-chevron-right, .lnr-sync {
    fill: rgba(0,0,0,.87);
    font-size: 20px;
    pointer-events: none;
}

.lnr {
    display: block;
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.fade {
      opacity: unset;
}