<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js"></script>
  <script src="/findly/public/build/js/main.js"></script>

  <link rel="stylesheet" href="/findly/public/build/css/style.css"></link>

  <!-- A PURGER -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">

    <!--  <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/findly/">Home <span class="sr-only">(current)</span></a>
        </li>
-->
      <a href="/findly/" class="btn btn-secondary" role="button" aria-pressed="true">Accueil</a> 

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          S'inscrire
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="/findly/inscription/professionnel">Pro</a>
          <a class="dropdown-item" href="/findly/inscription/particulier">Particulier</a>
        </div>
      </div> 

      <!-- Chemin et methode correspondante -->
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Connexion
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="/findly/connexion/professionnel">Pro</a>
          <a class="dropdown-item" href="/findly/connexion/particulier">Particulier</a>
        </div>
      </div>
       
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Findly
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#">Notre mission</a>
          <a class="dropdown-item" href="#">Fonctionnalités</a>
          <a class="dropdown-item" href="#">Nous suivre</a>
        </div>
      </div>



<!--
        <li>
          <a class="nav-link" href="/findly/signup/new">S'inscrire <span class="sr-only"></span></a>
        </li>

        <li>
          <a class="nav-link" href="/findly/login">Se connecter <span class="sr-only"></span></a>
        </li>
      </ul>
-->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-md-auto">
          {% if current_user %}
          <li class="nav-item">
            <a class="nav-link" href="/findly/profile/show">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/findly/logout">Log out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>


  <div class="container-fluid">
    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type }}">
      {{ message.body }}
    </div>
    {% endfor %}
    {% block body %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
  </div>
</body>

</html>
