{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block body %}

    <h1>Profile</h1>

  <dl class="dl-horinzontal">
    <dt>Name</dt>
    <dd>Name: {{ user.name }}</dd>
    <dt>Email</dt>
    <dd>Email: {{ user.email }}</dd>
  </dl>

  <a href="/findly/profile/edit">Edit</a>

{% endblock %}